* {
    margin: 0;
    padding: 0;
}

.main {
    top: 0;
    height: 120vh;
    width: 100%;
    background-image: url(/images/backgroundImage.jpg);
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

nav {
    height: 100px;
    margin: auto;
    max-width: 75vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main nav img {
    z-index: 2;
}

.main .box {
    position: absolute;
    top: 0;
    height: 120vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.418);
}

.text {
    height: 80vh;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

span {

    color: white;
    z-index: 30;
}

.text> :nth-child(1) {
    font-size: 3rem;
    font-weight: 900;

}


.text> :nth-child(2) {
    font-size: 1.5rem;
    font-weight: 400;
  
}

.text> :nth-child(3) {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
}

.main nav button {
    height: 34px;
    width: 70px;
    color: white;
    background-color: #e50914;
    border-radius: 6px;
    border: 0px;
    z-index: 2;
}