* {
    margin: 0;
    padding: 0;
}

.main {
    top: 0;
    height: 120vh;
    width: 100%;
    background-image: url(/images/backgroundImage.jpg);
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

nav {
    height: 100px;
    margin: auto;
    max-width: 75vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main nav img {
    z-index: 2;
}

.main .box {
    position: absolute;
    top: 0;
    height: 120vh;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.7);
}

.text {
    height: 80vh;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

span {

    color: white;
    z-index: 30;
}

.text> :nth-child(1) {

    font-size: 2.5rem;
    font-weight: 900;

    margin-top: 100px;
}


.text> :nth-child(2) {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 17px;
}

.text> :nth-child(3) {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 17px;
}

.main nav button {
    height: 34px;
    width: 70px;
    color: white;
    background-color: #e50914;
    border-radius: 6px;
    border: 0px;
    z-index: 2;
}

.fillup {
    height: 50px;
    width: 50vw;
    color: red;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    margin-top: 20px;

}

.fillup input,
button {
    height: 100%;
    border-radius: 6px;
    border: 0px;

}

.fillup input {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.301);
    border: 1px solid #83756c;
    padding-left: 20px;

}

.fillup input:focus::placeholder {
    font-size: .85rem;
    outline: #ffffff;
}

.fillup input::placeholder {
    font-size: 1rem;
    outline: #26211e;
    color: #b6b6b6;

}

.fillup button {
    min-width: 39%;
    font-size: 28px;
    background-color: #e50914;
    color: white;
    font-weight: 400;
    margin-left: 2px;
    padding: .75rem 1rem 0.75rem;
}

.greyline {
    height: 10px;
    background-color: #232323;
}

.ontv {
    background-color: black;
    color: white;
    display: flex;
    position: relative;
    justify-content: space-between;
    position: relative;
    height: 386px;
    padding: 107px 0px;
}

.tvtext {
    width: 50%;
    margin: 108px 100px;
}

.tvtext h2 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 30px;

}

.tvtext p {
    font-size: 1.5rem;
    font-weight: 400;

}



.tvouterlayer {
    position: relative;
}

.tvouterlayer img {
    position: absolute;
    margin-right: 60px;
    height: 386px;
    width: 515px;
    top: 0px;
    right: 30px;
}

.video {
    height: 211px;
    width: 415px;
    position: relative;
    right: 140px;
    top: 81px;
}


.blackarea {
    background-color: black;
    color: white;
    height: 600px;
    display: flex;
    justify-content: space-between;
}

.downloadgraphics {
    display: flex;
}

.download {
    height: 50px;
    width: 300px;
    background-color: red;
    border: 2px solid black;
    border-radius: 3px;

}

.blackareatwo {
    background-color: black;
    color: white;
    padding: 107px 0px 37px 100px;
    height: 200px;
}

.watcheverywhere h2 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 30px;
}

.watcheverywhere p {
    font-size: 1.5rem;
    font-weight: 400;
}

.watcheverywhere {
    width: 50%;
    text-align: justify;
}

.kids {
    display: flex;

}

.kids h2 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 30px;
}

.kidstext {
    width: 50%;
}

.kids p {
    font-size: 1.5rem;
    font-weight: 400;
}

.kids {
    padding-left: 130px ;
    background-color: black;
    color: white;
    height: 600px;
    display: flex;
    justify-content: space-between;
}